html,body{
    height: 100%;
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

canvas{
    border: solid 1px;
    border-color: white;
    justify-content: center;
    align-content: center;

}
